@import "../../scss/utils";

.Tabs {
  display: flex;
  position: relative;
  overflow: hidden;

  background: rgba(19, 214, 112, 0.5);
  border-radius: 16px;
  padding: 8px;
  margin-bottom: 60px;

  @include sm {
    justify-content: space-around;
    border-radius: 8px;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 2px;

    .tab-info {
      display: none;
    }

    .tab-title {
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      padding: 0;
      text-align: center;
    }

    .tab-item {
      padding: 10px 0;
      flex-grow: 1;
    }
  }
}

.tab-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.tab-item {
  padding: 32px;
  color: $light;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &.active {
    color: $yellow;

    .tab-background {
      left: 0;
      background: linear-gradient(180deg, #1E2129 0%, #0F1014 100%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      z-index: -1;
    }
  }
}

.tab-title {
  font-weight: 800;
  font-size: 34px;
  padding-bottom: 20px;
}

.tab-info {
  font-size: 14px;
  display: flex;
  color: $light;
}
