@import "../../../scss/utils";

.code {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -10px -10px;
  padding-bottom: 80px;

  .card {
    padding: 40px 48px;
    flex: 1 0 45%;
    box-sizing: border-box;
    margin: 10px;

    @include sm {
      width: 100%;
      padding: 20px 28px;

      .card-info {
        padding: 0;
      }
    }
  }
}

.follow-us {
  background: linear-gradient(180deg, #1E2129 0%, #0F1014 100%);
  border-radius: 16px;
  padding: 29px;
  margin: 40px 0;

  .follow-us-title {
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: $light;
  }

  .follow-us-action {
    text-align: center;
    padding: 32px 0;
  }
}
