@import "../../scss/utils";

.Scroller-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.Scroller-wrap {
  z-index: 1;
  height: 353px;
  width: 100%;
  overflow: hidden;
  position: relative;

  @include sm {
    top: 13%;
  }
}

.Scroller {
  position: absolute;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  top: 30px;

  &::after {
    content: '';
    padding-right: 5%;
  }
}

.Scroller-pagination {
  z-index: 2;

  @include sm {
    padding-top: 5px;
  }
}

.Pagination-item {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  &.active {
    background-color: $remus;
  }
}
