<footer>
  <div class="container">
    <div class="footer-block">
      <div class="footer-menu">
        <div class="bottom-menu bottom-menu-title">Company</div>
        <div class="bottom-menu">Photo Gallery</div>
        <div class="bottom-menu">Office Video</div>
        <div class="bottom-menu">Team</div>
        <div class="bottom-menu">Privacy</div>
      </div>
      <div class="footer-menu">
        <div class="bottom-menu bottom-menu-title">Products</div>
        <div class="bottom-menu">Apps</div>
        <div class="bottom-menu">Guides</div>
        <div class="bottom-menu">Team</div>
        <div class="bottom-menu">Code</div>
      </div>
      <div class="footer-menu">
        <div class="bottom-menu bottom-menu-title">Follow</div>
        <div class="bottom-menu">Twitter</div>
        <div class="bottom-menu">Telegram</div>
        <div class="bottom-menu">Youtube</div>
      </div>
      <div class="footer-menu">
        <div class="bottom-menu bottom-menu-title">Contact</div>
        <div class="bottom-menu"><img src="/assets/images/icons/Mail.png" alt=""/> hsdao@protonmail.ch</div>
        <div class="bottom-menu"><img src="/assets/images/icons/Telegram.png" alt=""/> Live Chat</div>
        <div class="bottom-menu"><img src="/assets/images/icons/Github.png" alt=""/> Github</div>
      </div>
    </div>
  </div>
</footer>
