<div class="gdpr-popup">
  <div class="container">
    <div class="gdpr-title header-2">
      Cookies information

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="close" id="close-cookie">
        <path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"/>
      </svg>
    </div>
    <div class="gdpr-description body-text">
      This website uses cookies to improve your experience. We'll assume you're ok with this, but you can opt-out if you wish.
    </div>
    <div class="gdpr-actions">
      <button id="accept-cookie" class="btn" style="width: 120px">Accept</button>
    </div>
  </div>
</div>
