<div class="gdpr-popup">
  <div class="container">
    <div class="gdpr-title header-2">
      Cookies information

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="close" id="close-cookie">
        <path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"/>
      </svg>
    </div>
    <div class="gdpr-description body-text">
      To make this site work properly, we sometimes place small data files called cookies on your device. Most big
      websites do this too.
    </div>
    <div class="gdpr-actions">
      <button id="accept-cookie" class="btn" style="width: 120px">OK</button>
    </div>
  </div>
</div>
