<header>
  <div class="container">
    <div class="navbar">
      <a href="/">
        <img class="logo"
             alt="Horizontal Systems"
             src="/assets/images/hs-logo.png"
             srcset="/assets/images/hs-logo@2x.png 2x, /assets/images/hs-logo@3x.png 3x"/>
      </a>

      <div class="nav">
        <div class="nav-item"><a href="/">Home</a></div>
        <div class="nav-item">Contact</div>
        <div class="nav-item"><a href="https://github.com/horizontalsystems" target="_blank">GitHub</a></div>
        <div class="nav-item"><a href="/privacy.md" target="_blank">Privacy</a></div>
      </div>
    </div>
  </div>
</header>
