<header role="banner">
  <div class="container">
    <div class="banner">
      <div class="banner-logo">
        <a href="/"><img alt={{site.title}} width="277"
             src="/assets/images/hs-logo.png"
             srcset="
                   /assets/images/hs-logo@2x.png 2x,
                   /assets/images/hs-logo@3x.png 3x" /></a>
      </div>
      <div class="banner-info">
        <div class="banner-desc"></div>
        <div class="banner-link">

        </div>
      </div>
    </div>
  </div>
  <nav role="navigation" id="nav">
    <div class="container">
      <ul class="navbar-nav">

        <li class="nav-item {% if include.menu == 'index' %}active{% endif %}">
          <a class="nav-link" href="/">Apps</a>
          <div class="nav-bottom"></div>
        </li>
        
        <li class="nav-item {% if include.menu == 'about' %}active{% endif %}">
          <a class="nav-link" href="/dao/about">About</a>
          <div class="nav-bottom"></div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://github.com/horizontalsystems">Github</a>
          <div class="nav-bottom"></div>
        </li>

      </ul>
    </div>
  </nav>
</header>