
<div class="open-source-codes" id="code">
  <h1>Our Open-sourse codes</h1>

  <h4>Blockhain Library</h4>
  <p>
    Full SPV toolkit implementation for Bitcoin and Bitcoin Cash blockchains. These libraries enable any developer to
    build true decentrazlied apps on top of Bitcoin and Bitcoin Cash blockchains.
  </p>

  <div class="sources">
    <div class="implementation">
      <img alt="Swift" width="238"
           src="/assets/images/implementations/swift.png"
           srcset="
               /assets/images/implementations/swift@2x.png 2x,
               /assets/images/implementations/swift@3x.png 3x" />
    </div>
    <div class="implementation">
      <img alt="Kotlin" width="243"
           src="/assets/images/implementations/kotlin.png"
           srcset="
               /assets/images/implementations/kotlin@2x.png 2x,
               /assets/images/implementations/kotlin@3x.png 3x" />
    </div>
  </div>

  <h4>Ethereum Library</h4>
  <p>
    Full SPV toolkit implementation for Bitcoin and Bitcoin Cash blockchains. These libraries enable any developer to
    build true decentrazlied apps on top of Bitcoin and Bitcoin Cash blockchains.
  </p>

  <div class="sources">
    <div class="implementation">
      <img alt="Swift" width="238"
           src="/assets/images/implementations/swift.png"
           srcset="
               /assets/images/implementations/swift@2x.png 2x,
               /assets/images/implementations/swift@3x.png 3x" />
    </div>
    <div class="implementation">
      <img alt="Kotlin" width="243"
           src="/assets/images/implementations/kotlin.png"
           srcset="
               /assets/images/implementations/kotlin@2x.png 2x,
               /assets/images/implementations/kotlin@3x.png 3x" />
    </div>
  </div>

</div>
