
<div class="open-source-codes" id="code">
  <h1>Open Code</h1>

  Our code is unconditionally free. We invite all blockchain developers to unconditionally reuse that code and build decentralized applications like the <a href="https://unstoppable.money" target ="_blank">Unstoppable Wallet</a> above.

  <h4>Bitcoin SPV Library</h4>
  <p>
    Build applications on top of Bitcoin, Dash or Bitcoin Cash blockchains. This library does the hard work under the hood and enables developers to create truly decentralized apps on top of Bitcoin or some of its supported forks.
  </p>

  <div class="sources">
    <div class="implementation">
      <a href="https://github.com/horizontalsystems/bitcoin-kit-ios"><img alt="Swift" width="238"
           src="/assets/images/implementations/swift.png"
           srcset="
               /assets/images/implementations/swift@2x.png 2x,
               /assets/images/implementations/swift@3x.png 3x" /></a>
    </div>
    <div class="implementation">
      <a href="https://github.com/horizontalsystems/bitcoin-kit-android"><img alt="Kotlin" width="243"
           src="/assets/images/implementations/kotlin.png"
           srcset="
               /assets/images/implementations/kotlin@2x.png 2x,
               /assets/images/implementations/kotlin@3x.png 3x" /></a>
    </div>
  </div>

  <h4>Ethereum Light Client Library</h4>
  <p>
    Build any purpose applications on top of Ethereum blockchain that work in a truly decentralized manner.<br><br> This library is still in active development ...
  </p>

  <div class="sources">
    <div class="implementation">
      <a href="https://github.com/horizontalsystems/ethereum-kit-ios"><img alt="Swift" width="238"
           src="/assets/images/implementations/swift.png"
           srcset="
               /assets/images/implementations/swift@2x.png 2x,
               /assets/images/implementations/swift@3x.png 3x" /></a>
    </div>
    <div class="implementation">
      <a href="https://github.com/horizontalsystems/ethereum-kit-android"><img alt="Kotlin" width="243"
           src="/assets/images/implementations/kotlin.png"
           srcset="
               /assets/images/implementations/kotlin@2x.png 2x,
               /assets/images/implementations/kotlin@3x.png 3x" /></a>
    </div>
  </div>

</div>
