<div id="mlb2-1561498" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1561498">
  <div class="ml-form-align-center">
    <div class="ml-form-embedWrapper">
      <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
        <div class="ml-form-embedContent">
          <h4>Subscribe To Access</h4>
        </div>
        <form class="ml-block-form" action="https://app.mailerlite.com/webforms/submit/m3g0e6" data-code="m3g0e6" method="post" target="_blank">
          <div class="ml-form-formContent">
            <div class="ml-form-fieldRow ">
              <div class="ml-field-group ml-field-name ml-validate-required">
                <input type="text" class="form-control" name="fields[name]" placeholder="Name">
              </div>
            </div>
            <div class="ml-form-fieldRow ml-last-item">
              <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                <input type="email" class="form-control" name="fields[email]" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="ml-form-checkboxRow ml-validate-required">
            <label class="checkbox">
              <input type="checkbox">
              <div class="label-description">
                By signing up, you agree to Horizontal System's <a href="/privacy">Privacy Policy</a>
              </div>
            </label>
          </div>

          <input type="hidden" name="ml-submit" value="1">
          <div class="ml-form-embedSubmit">
            <button type="submit" class="primary">Send Me Guides!</button>
            <button disabled="disabled" style="display: none;" type="button" class="loading">
              <div class="ml-form-embedSubmitLoad"></div>
            </button>
          </div>
        </form>
      </div>
      <div class="ml-form-successBody row-success" style="display: none">
        <div class="ml-form-successContent">
          <h4>Thank you!</h4>
          <p>Please check your email for the download links.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function ml_webform_success_1561498() {
    var $ = ml_jQuery || jQuery;
    $('.ml-subscribe-form-1561498 .row-success').show();
    $('.ml-subscribe-form-1561498 .row-form').hide();
  }
</script>
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v253251d9ecd93b8e74c12a37f72e896f" type="text/javascript"></script>