.gdpr-popup {
  background: linear-gradient(180deg, #1F2129 0%, #13151A 100%);
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;

  .gdpr-title {
    padding: 10px 0;
  }

  .gdpr-description {

  }

  .gdpr-actions {
    padding-top: 20px;
  }

  .close {
    width: 24px;
    height: 24px;
    display: inline-block;
    float: right;
    fill: $grey;
    cursor: pointer;
  }
}
