@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $dark;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include large {
    max-width: 900px;
  }

  @include medium {
    max-width: 650px;
  }
}

a {
  color: $yellow;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  background: linear-gradient(to bottom,
    $dark-secondary,
    $dark
  );

  .banner {
    display: flex;
    height: 316px;
    justify-content: center;
    align-items: center;
  }

  .banner-logo {
    display: flex;
    flex-grow: 1;
  }

  .banner-info {
    flex: none;
    text-align: right;
  }

  .banner-desc {
    color: $grey;
    font-size: 18px;
  }

  @include small {
    .banner {
      flex-wrap: wrap;
      align-content: space-evenly;
    }

    .banner-logo {
      flex-grow: 0;
    }
  }
}

nav {
  height: 48px;
  font-size: 18px;
  background-color: $dark;

  .navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;

    @include small {
      justify-content: flex-start;
    }
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-link {
      padding: 8.5px 30px;
      color: $white;
      white-space: nowrap; // otherwise will overlap .nav-bottom

      &:hover {
        text-decoration: none;
      }
    }

    .nav-bottom {
      display: none;
      height: 4px;
      width: 80%;
      background: $yellow;
      border-radius: 4px 4px 0 0;
    }

    &.active {
      .nav-bottom {
        display: flex;
      }

      .nav-link {
        color: $yellow;
      }
    }

    @include small {
      .nav-link {
        padding: 8.5px 10px;
      }
    }
  }

}

main {
  word-wrap: break-word;

  @include large {
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $black;
    font-weight: bold;
  }

  p {
    margin-bottom: 1em;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $grey;
    border-left: 0.3rem solid $yellow;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.attach-left {
  float: left;
  margin-right: 20px;
}
