@import "variables";
@import "mixins";

.open-source-codes {
  margin-top: 10%;
  color: $silver;

  p {
    font-size: 20px;
  }

  h4 {
    font-size: 32px;
  }

  .sources {
    display: flex;

    img {
      vertical-align: middle;
    }

    .implementation {
      margin-right: 20px;
    }
  }
}
