// Media Query Ranges
$screen-md: 42em !default;
$screen-lg: 64em !default;

// Headers
$header-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Colors
$headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$quote-text-color: #819198 !default;

$code-text-color: #567482 !default;
$code-bg-color: #f3f6fa !default;

$border-color: #dce6f0 !default;
