// Media Query Ranges
//
// $screen-md: 42em !default;
// $screen-lg: 64em !default;

$screen-sm: 576px !default;  // Small tablets and large smartphones (landscape view)
$screen-md: 768px !default;  // Small tablets (portrait view)
$screen-lg: 992px !default;  // Tablets and small desktops
$screen-xl: 1200px !default; // Large tablets and desktops

// Colors
$white:       #ffffff !default;
$light:       #F5F5F5 !default;
$gray-light:  #C8C7CC !default;
$dark:        #13151A !default;
$black:       #262830 !default;
$blue:        #0d6efd !default;
$grey:        #808085 !default;
$remus:       #13D670 !default;
