@import "variables";
@import "mixins";

#apps {
  padding-top: 60px;
}

.wallets-apps {
  margin: 13% 0;
  display: flex;
  border-radius: 32px;
  background-image: linear-gradient(to bottom, rgba(115, 121, 140, 0.2), rgba(115, 121, 140, 0.1));

  .wallets-logo {
    flex: 1;
    width: 200px;
    position: relative;

    img {
      position: absolute;
      top: -49px;
      left: 30px;

      @include medium {
        top: -40px;
        width: 80px;
      }

      @include small {
        top: -30px;
        left: 25px;
        width: 60px;
      }
    }
  }

  .wallets-info {
    flex: 3;
    padding: 30px 0;

    @include small {
      padding: 15px 0;
    }
  }

  .wallets-title {
    font-weight: 700;
    color: $white-soft;

    @include large {
      font-size: 50px;
    }

    @include medium {
      font-size: 35px;
    }

    @include small {
      font-size: 25px;
    }
  }

  .wallets-description {
    font-size: 20px;
    color: $grey;
    font-weight: 300;

    @include small {
      font-size: 17px;
    }
  }

  .download-apps {
    padding-top: 20px;

    a {
      padding-right: 15px;
    }

    img {
      background-color: #2e323c;
    }
  }
}
