@import "../../scss/utils";

.code {
  display: flex;
  flex-wrap: wrap;

  .card {
    width: 50%;
    padding: 40px 48px;
    box-sizing: border-box;

    @include sm {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.follow-us {
  background: linear-gradient(180deg, #1E2129 0%, #0F1014 100%);
  border-radius: 16px;
  padding: 29px;
  margin: 40px 0;

  .follow-us-title {
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: $light;
  }

  .follow-us-action {
    text-align: center;
    padding: 32px 0;
  }
}
