@import "../../scss/utils";

.bannerNav {
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 17px;
  padding-right: 30px;
  color: $gray-light;
  cursor: pointer;

  img {
    padding-right: 10px;
  }
}