@import "../../scss/utils";

.form-wrap {
  margin-top: 45px;
  padding: 50px 10px;
  background: linear-gradient(180deg, #1F2129 0%, $dark 100%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F5F5F5;
}
.ml-form-embedSubmitLoad {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.ml-form-embedSubmitLoad:after {
  content: " ";
  display: block;
  width: 11px;
  height: 11px;
  margin: 1px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #ffffff #ffffff #ffffff transparent;
  animation: ml-form-embedSubmitLoad 1.2s linear infinite;
}
.ml-form-embedContainer {
  box-sizing: border-box;
  display: table;
  height: 99.99%;
  margin: 0 auto;
  position: static;
  width: 100% !important;
}
.ml-form-embedContainer .ml-form-embedWrapper {
  display: inline-block;

  @include lg {
    min-width: 400px;
  }
}
.ml-form-align-center { text-align: center; }
.ml-form-embedBody .ml-form-embedContent,
.ml-form-successBody .ml-form-successContent {
  margin: 0 0 20px 0;
}
.ml-form-embedBody .ml-form-embedContent h4 {
  margin: 0 0 10px 0;
  text-align: center;
  line-height: 43px;
  font-weight: 800;
  font-size: 34px;

  @include sm {
    font-size: 26px;
  }
}
.ml-form-successBody .ml-form-successContent p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.ml-form-embedBody .ml-form-formContent,
.ml-form-embedBody .ml-form-checkboxRow {
  margin: 0 0 20px 0;
  width: 100%;
}
.ml-form-embedBody .ml-form-checkboxRow {
  float: left;
}
.ml-form-embedBody .ml-form-fieldRow {
  margin: 0 0 10px 0;
  width: 100%;
}
.ml-form-embedBody .ml-form-fieldRow input {
  width: 100% !important;
  height: 60px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 0 16px;

  border: 1px solid rgba(115, 121, 140, 0.2);
  background: rgba(115, 121, 140, 0.2);
  border-radius: 8px;
  color: white;
}
.ml-form-embedBody .ml-form-checkboxRow input[type="checkbox"] {
  display: inline-block;
  float: left;
  margin: 1px 0 0 0;
  opacity: 1;
  position: relative;
  height: 14px;
  width: 14px;
}
.ml-form-embedBody .ml-form-checkboxRow .label-description {
  display: block;
  font-size: 13px;
  text-align: left;
  padding-left: 25px;
  a {
    text-decoration: underline;
  }
}
.ml-form-embedBody .ml-form-embedSubmit button.loading {
  display: none;
}
.ml-error input {
  background-image: url(https://bucket.mlcdn.com/images/default/error-icon.png) !important;
  background-position: 96% !important;
  background-repeat: no-repeat !important;
  background-size: 24px 24px !important;
}
.ml-error .label-description {
  color: #ff0000 !important;
}

@keyframes ml-form-embedSubmitLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  height: 50px;
  padding: 10px !important;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), $remus;
  border-radius: 8px;
  width: 100%;
  color: #212529;
  border: none;

  @include sm {
    height: 40px;
  }
}
