@import "../../scss/utils";

.Team {
  max-height: 100vh;

  .Edge-header,
  .Edge-bottom {
    position: absolute;
  }

  .Edge {
    z-index: 1;
  }
}

.Team-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  min-height: 650px;
}

.Team-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0F1014 0%, rgba(15, 16, 20, 0) 100%);
}
