
.Cheat {
  background: #13151A;
  border-radius: 16px;
  padding: 20px 32px;
  margin: 0 5px;
  min-width: 405px;
}

.cheat-title {
  font-weight: 800;
  font-size: 22px;
  padding-bottom: 16px;

  /* Light */
  color: #F5F5F5;
}

.cheat-description {
  font-size: 17px;
  line-height: 20px;

  /* Light Grey */
  color: #C8C7CC;
}
