@import "../../scss/utils";

.CardGuide {
  width: 100%;
  min-height: 275px;
  background: #252933;
  border-radius: 16px;
  margin: 0 12px;
  display: flex;
  position: relative;

  .Card {
    flex: 1;
  }

  @include sm {
    flex-direction: column-reverse;
  }
}

.Card-cover {
  position: relative;
  overflow: hidden;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  min-height: 210px;
}
