@import "../../scss/utils";

.card {
  display: flex;
  padding: 40px 80px;
  background: #13151A;
  border-radius: 16px;
  margin-top: 20px;

  .card-screen {
    padding-left: 80px;
    padding-right: 74px;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-title {
    color: $light;
    font-weight: 800;
    font-size: 22px;
    padding-bottom: 30px;
  }

  .card-description {
    font-size: 14px;
    color: $gray-light;
  }

  .card-actions {
    padding-top: 30px;
    margin: 0 -12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include sm {
      margin: 0 -5px;
      flex-direction: column;
    }
  }

  @include md {
    padding-left: 0;
  }

  @include sm {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    align-items: center;

    .card-screen {
      padding-left: 0;
      padding-right: 0;
    }

    .card-info {
      padding: 32px;
    }
  }
}