@import "../../scss/utils";

.CardFeatured {
  width: 100%;
  min-height: 380px;
  background: #252933;
  border-radius: 16px;
  margin: 0 12px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.Card-Slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: $white;
  z-index: 1;

  @include sm {
    font-size: 24px;
    line-height: 31px;
  }
}

.CardFeatured-image {
  max-width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;

  @include sm {
    max-width: fit-content;
    height: 100%;
  }
}
