@import "../../scss/utils.scss";

.Screen-half {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: url("/images/home/bg.svg") repeat;

  @include sm {
    width: 100%;
  }
}
