@import "../../scss/utils";

.Home-Wrap {
  position: relative;
}

.Home-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.Home {
  height: 100vh;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Slogan {
  width: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: $remus;

  @include sm {
    font-size: 40px;
  }

  @include md {
    font-size: 40px;
  }

  @include lg {
    font-size: 54px;
  }
}

.Logo {
  width: 40px;
}