@import "../../scss/utils";

.Contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.Contacts-section {
  padding-bottom: 45px;

  @include sm {
    padding-bottom: 72px;
  }
}

.Contacts-head {
  color: darken($grey, 0.5%);
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  padding-bottom: 40px;

  @include sm {
    padding-bottom: 36px;
  }
}

.Contacts {
  display: flex;

  @include sm {
    flex-direction: column;
  }
}

.Contact-item {
  display: flex;
  flex-direction: column;
  padding-right: 20px;

  @include sm {
    padding: 20px 0;
  }
}

.Contact-item-head {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Contact-item-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 20px;
  color: $light-steal;

  @include md {
    font-size: 18px;
    line-height: 23px;
  }
}

.Contact-item-info {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 24px;
  color: $grey;

  @include sm {
    font-size: 16px;
    line-height: 21px;
    padding-top: 20px;
  }
}


