@import "../../scss/utils";

.Banner-header {
}

.Header {
  position: absolute;
  height: 110px;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #0F1014;
  color: $remus;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Logo-icon {
    display: none;
  }

  @include sm {
    .Logo {
      display: none;
    }

    .Logo-icon {
      display: block;
    }
  }

}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 14px;

  .nav-item {
    height: 32px;
    padding: 0 20px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 14px;
      color: $grey;
    }
  }

  .nav-item-btn {
    margin-left: 20px;
    border: 1px solid #05C46B;
    box-sizing: border-box;
    border-radius: 8px;
  }

  @include sm {
    display: none;
  }
}
