@import "../../scss/utils";

.Banner-header {
  @include sm {
    padding-right: 0;
    padding-left: 0;
  }
}

.Header {
  height: 80px;
  background: #0F1014;
  color: $remus;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .logo {
    width: 165px;
  }

  @include md {
    .logo {
      width: 150px;
    }
  }

  @include sm {
    .logo {
      width: 120px;
      display: none;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 14px;

  .nav-item {
    height: 32px;
    padding: 0 30px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: #C8C7CC;
      font-size: 14px;
    }
  }

  .nav-item-btn {
    color: #05C46B;
    border: 1px solid rgba(110, 120, 153, 0.2);
    background: darken(#0F1014, 80%);
    margin-right: 15px;
  }

  @include sm {
    .nav-item {
      padding: 0 20px;
    }
  }
}
