
.Gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(48, 50px);
  grid-gap: 15px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

// ------------------------------------------
.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-2 {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;
}

// ------------------------------------------
.gallery-item-3 {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 9;
}

// ------------------------------------------
.gallery-item-4 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 11;
}

.gallery-item-5 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 11;
  grid-row-end: 15;
}

.gallery-item-6 {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 9;
  grid-row-end: 15;
}

// ------------------------------------------

.gallery-item-7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 15;
  grid-row-end: 20;
}

.gallery-item-8 {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 15;
  grid-row-end: 20;
}

// ------------------------------------------
.gallery-item-9 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 20;
  grid-row-end: 25;
}

.gallery-item-10 {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 20;
  grid-row-end: 25;
}

// ------------------------------------------
.gallery-item-11 {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 25;
  grid-row-end: 30;
}

// ------------------------------------------
.gallery-item-12 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 30;
  grid-row-end: 32;
}

.gallery-item-13 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 32;
  grid-row-end: 38;
}

.gallery-item-14 {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 30;
  grid-row-end: 38;
}

// ------------------------------------------
.gallery-item-15 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 38;
  grid-row-end: 42;
}

.gallery-item-16 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 38;
  grid-row-end: 42;
}

.gallery-item-17 {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 38;
  grid-row-end: 42;
}

// ------------------------------------------
.gallery-item-18 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 42;
  grid-row-end: 48;
}

.gallery-item-19 {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 42;
  grid-row-end: 45;
}

.gallery-item-20 {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 45;
  grid-row-end: 48;
}
