@import "../../scss/utils";

.Mission {
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Mission-bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Mission-text {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: $green;

  @include sm {
    margin-top: 60px;
    font-size: 40px;
    line-height: 50px;
    width: 90vw;
  }

  @include md {
    font-size: 50px;
    line-height: 60px;
    margin-top: 80px;
    width: 90vw;
  }

  @include lg {
    margin-top: 80px;
    width: 90%;
  }

  @include xxl {
    margin-top: 145px;
    width: 55%;
  }
}

@include sm {
  .sm-hidden {
    display: none;
  }
}
