@import "../scss/utils";

.Button {
  display: inline-block;
  color: $black;
  cursor: pointer;
  padding: 12px 70px;
  font-weight: 600;
  font-size: 22px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), $remus;
  border-radius: 8px;
}