@import "../../../scss/utils";

.cheat-cheets {
  position: relative;
  height: 222px;
  overflow: hidden;
}

.cheat-header {
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 17px;
  color: #8A8A8F;
}

.cheat-items {
  display: flex;
  overflow: scroll;
  padding: 0 11%;

  @include sm {
    padding: 0 4%;
  }
}

.move-to-first {
  transform: translateX(0px);
}

.move-to-second {
  transform: translateX(-400px);
}

.move-to-third {
  transform: translateX(-800px);
}
