@import "../../../scss/utils";

.cheat-cheets {
  position: relative;
  height: 222px;
  overflow: hidden;
  padding-top: 80px;
}

.cheat-header {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 17px;
  color: #8A8A8F;
}

.cheat-items {
  display: flex;
  overflow: scroll;
  padding: 0 11%;

  @include sm {
    padding: 0 10%;
  }
}
