@import "../../scss/utils";

.Join {
  background: #04AD5F;
  display: flex;
  align-items: center;
}

.Join-form-wrap {
  display: flex;
  justify-content: flex-end;

  @include sm {
    justify-content: center;
  }
}

.Join-form {
  
}

.Join-success {
  display: none;
  color: white;
  text-align: center;

  h4 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }
}

.Join-links {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.Join-link {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  text-align: center;

  color: $white;

  svg {
    padding-right: 12px;
  }
}

input, .btn {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 24px;
  border: none;
  border-radius: 4px;
  margin: 16px 0;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
}

.btn {
  cursor: pointer;
  background: $remus;
  font-size: 24px;
  color: $white;

  &:hover {
    background: lighten($remus, 2%);
  }

  &.loading {
    display: none;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.Join-checkbox-wrap {
  display: flex;
  align-items: center;

  .Join-checkbox {
    width: 20px;
  }

  .Join-checkbox-description {
    padding-left: 5px;
    font-size: 14px;
    line-height: 20px;
    color: $white;
  }

  a {
    color: $white;
  }
}
