<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="application/javascript" src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>
  <body>
    {% assign lang=site.lang[page.lang] %}
    {% assign content_md = 'content/content-' | append: page.lang | append: '.md' %}

    {% include header.html lang=lang %}

    <main role="main">
      <div class="container">
        {% capture content_capture %}
        {% include {{content_md}} %}
        {% endcapture %}

        <div class="main-content">
          {{ content_capture | markdownify }}
        </div>

        {% include wallets-apps.html %}

      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
