<!DOCTYPE html>
<html lang="en">
  {% include html-head.html %}
  <body>
    {% include header.html %}

    <main role="main">
      <div class="section-dark">
        <div class="container">
          <div class="banner">
            <img src="/assets/images/horse.gif" alt="Binary horse" class="horse"/>

            <div class="main-title">
              Unstoppable Code
            </div>

            <div class="section-description">
              Enforcing your rights to private wealth and privacy.
            </div>
          </div>
        </div>
        <div class="section-gradient">
          <div class="container">
            <div class="section">
              <div class="section-third gallery-section">
                <div class="image-review gallery-item"></div>
                <div class="gallery-title" id="open-gallery">
                  <span>Gallery</span>
                </div>
              </div>

              <div class="section-right gallery-section">
                <div class="video-review gallery-item"></div>
                <a class="gallery-title" href="https://www.youtube.com/watch?v=-qjzSUdeId0" data-fancybox="video">
                  <img src="/assets/images/gallery/play.png" alt="Play Video"> <span>Play Office</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-gradient">
        <div class="container">
          <div class="section">
            <div class="section-half">
              <div class="secondary-title">Apps We Built</div>

              <div class="section-description">
                
              </div>

              <div class="card card-wallet">
                <div class="card-icon">
                  <img src="/assets/images/card/unstoppable-wallet.png" alt="Unstoppable Wallet"/>
                </div>
                <div class="card-info">
                  <div class="card-title">Unstoppable Wallet</div>
                  <div class="card-description">
                    Invest in Bitcoin, Ethereum, EOS, Binance DEX and 60+ projects. Non-custodial, p2p, private, decentralized crypto wallet app.
                  </div>
                </div>
              </div>
            </div>

            <div class="section-right">
              <img alt="Wallet"
                   class="wallet-screenshot"
                   src="/assets/images/wallet/wallet.png"
                   srcset="
                      /assets/images/wallet/wallet@2x.png 2x,
                      /assets/images/wallet/wallet@3x.png 3x"/>
            </div>
          </div>
        </div>
      </div>

      <div class="section-gradient">
        <div class="container">
          <div class="section-column">
            <div class="secondary-title">Guides Published</div>

            <div class="section-description">
              Understand how Bitcoin, Ethereum, EOS, Libra and other major blockchains work. We explain these projects in simple terms helping investors to onboard these decentralized economies as a pioneer.
            </div>

            <div class="guides">
              <div class="guide">
                <a href="/in-simple-terms">
                  <div class="card">
                    <div class="card-icon">
                      <img src="/assets/images/card/in-simple-term.png" alt="Bitcoin Explaining in Simple Terms"/>
                    </div>
                    <div class="card-info">
                      <div class="card-title">Bitcoin Explained in Simple Terms</div>
                      <div class="card-description">
                        What is Bitcoin? What makes it unique? How it works? Why should you care? And why to invest now?
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="guide">
                <div class="card">
                  <div class="card-icon">
                    <img src="/assets/images/card/libra.png" alt="What is Libra"/>
                  </div>
                  <div class="card-info">
                    <div class="card-title">What is Libra</div>
                    <div class="card-description">
                        What is Libra project? Why it's being built? What it means for people, crypto and traditional financial services?
                    </div>
                  </div>
                </div>
              </div>
              <div class="guide">
                <div class="card">
                  <div class="card-icon">
                    <img src="/assets/images/card/ethereum.png" alt="Ethereum"/>
                  </div>
                  <div class="card-info">
                    <div class="card-title">Ethereum</div>
                    <div class="card-description">
                      coming soon ...
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-wrap">
              {% include subscribe-form.html %}
            </div>
          </div>
        </div>
      </div>

      <div class="section-gradient">
        <div class="container">
          <div class="section-column">
            <div class="secondary-title">Code Released</div>

            <div class="section-description">
              We believe good ideas should be Unstoppable. As we sail through uncharted waters of building decentralized services we keep 100% of our work public and open source. Use our libraries to design autonomous systems that can't go offline.
            </div>

            <div class="guides">
              <div class="guide">
                <div class="card">
                  <div class="card-icon"><img src="/assets/images/codes/btc.png" alt="Bitcoin Kit"/></div>
                  <div class="card-info">
                    <div class="card-title">Bitcoin Kit</div>
                    <div class="card-description">iOS /  Android</div>
                  </div>
                </div>
              </div>
              <div class="guide">
                <div class="card">
                  <div class="card-icon"><img src="/assets/images/codes/eth.png" alt="Ethereum Kit"/></div>
                  <div class="card-info">
                    <div class="card-title">Ethereum Kit</div>
                    <div class="card-description">iOS /  Android</div>
                  </div>
                </div>
              </div>
              <div class="guide">
                <div class="card">
                  <div class="card-icon"><img src="/assets/images/codes/eos.png" alt="EOS Kit"/></div>
                  <div class="card-info">
                    <div class="card-title">EOS Kit</div>
                    <div class="card-description">iOS /  Android</div>
                  </div>
                </div>
              </div>
              <div class="guide">
                <div class="card">
                  <div class="card-icon"><img src="/assets/images/codes/binance.png" alt="Binance Chain Kit"/></div>
                  <div class="card-info">
                    <div class="card-title">Binance Chain Kit</div>
                    <div class="card-description">iOS /  Android</div>
                  </div>
                </div>
              </div>
              <div class="guide">
                <div class="card">
                  <div class="card-icon"><img src="/assets/images/codes/swap.png" alt="Atomic Swap"/></div>
                  <div class="card-info">
                    <div class="card-title">Atomic Swap</div>
                    <div class="card-description">iOS /  Android</div>
                  </div>
                </div>
              </div>
              <div class="guide">
                <div class="card">
                  <div class="card-icon"><img src="/assets/images/codes/lightning.png" alt="Lightning Kit"/></div>
                  <div class="card-info">
                    <div class="card-title">Lightning Kit</div>
                    <div class="card-description">Soon</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-gradient">
        <div class="container">
          <div class="section">
            <div class="section-third">
              <div class="user-avatar">
                <img alt="Team" src="/assets/images/hs.png"/>
              </div>

              <div class="secondary-title user-name">Team</div>
              <div class="section-description">
                Nickname Raph, is a fictional character and one of the four main characters of the Teenage Mutant Ninja
                Turtles comics and all related media.
              </div>
            </div>

            <div class="section-right">
              <ul class="team-members">
                <li><img class="team-member" alt="Arslan" src="/assets/images/team/Arslan.png"/></li>
                <li><img class="team-member" alt="Nurkaly" src="/assets/images/team/Nurkaly.png"/></li>
                <li><img class="team-member" alt="Rafael" src="/assets/images/team/Rafael.png"/></li>
                <li><img class="team-member" alt="Kerim" src="/assets/images/team/kerim.png"/></li>
                <li><img class="team-member" alt="Aibek" src="/assets/images/team/Aibek.png"/></li>
                <li><img class="team-member" alt="Bakyt" src="/assets/images/team/Bakyt.png"/></li>
                <li><img class="team-member" alt="Maxim" src="/assets/images/team/Maxim.png"/></li>
                <li><img class="team-member" alt="Ermat" src="/assets/images/team/Ermat.png"/></li>
                <li><img class="team-member" alt="Anton" src="/assets/images/team/Anton.png"/></li>
                <li><img class="team-member" alt="Chyngyz" src="/assets/images/team/Chyngyz.png"/></li>
                <li><img class="team-member" alt="Talgat" src="/assets/images/team/Talgat.png"/></li>
                <li><img class="team-member" alt="Esen" src="/assets/images/team/Esen.png"/></li>
                <li><img class="team-member" alt="Diana" src="/assets/images/team/Diana.png"/></li>
                <li><img class="team-member" alt="Tallgat" src="/assets/images/team/Tallgat.png"/></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
