<!DOCTYPE html>
<html lang="en">
  {% include html-head.html %}
  <body>
  {% include header.html %}

    <main role="main">
      <div class="section-dark">
        <div class="container">
          <div class="section-column">
            <div class="secondary-title">Bitcoin Explaining in Simple Terms</div>

            <div class="guides-viewer">
              <div class="guide-view">
                <img id="guide-selected" src="/assets/images/btc-in-simple-term/6.png" alt=""/>
              </div>
              <div class="guide-thumbs">
                <div class="guide-thumb" datasrc="1"><img src="/assets/images/btc-in-simple-term/1-thumb.png" alt=""/></div>
                <div class="guide-thumb" datasrc="2"><img src="/assets/images/btc-in-simple-term/2-thumb.png" alt=""/></div>
                <div class="guide-thumb" datasrc="3"><img src="/assets/images/btc-in-simple-term/3-thumb.png" alt=""/></div>
                <div class="guide-thumb" datasrc="4"><img src="/assets/images/btc-in-simple-term/4-thumb.png" alt=""/></div>
                <div class="guide-thumb" datasrc="5"><img src="/assets/images/btc-in-simple-term/5-thumb.png" alt=""/></div>
                <div class="guide-thumb current" datasrc="6"><img src="/assets/images/btc-in-simple-term/6-thumb.png" alt=""/></div>
              </div>
            </div>
          </div>
          <div class="guides-viewer">
            Crypto newcomers have a mountain of questions. <br><br>
            What is Bitcoin?<br><br>
            Why should you care about crypto?<br><br>
            What makes Bitcoin so unique?<br><br>
            How does it work?<br><br>
            And how can you invest?<br><br>
            The purpose of this eBook is to answer those questions by introducing you to Bitcoin and other
            cryptocurrencies in simple terms and an easy-to-digest manner.<br><br>
            This guide was written for someone who has little to no technical knowledge about Bitcoin, crypto, or
            blockchains.<br><br>
            To aid accessibility, some of the technical concepts have been simplified to make it easier for a
            non-technical person to grasp the essential information.<br><br>
            This eBook is completely free and can be downloaded by completing a simple form on our partner’s website. By
            doing so, you will also be subscribed to our email newsletter. <br><br><br>
          </div>
          <div class="form-wrap">
            {% include subscribe-form.html %}
          </div>

          <div class="section">
            <div class="section-third">
              <div class="user-avatar">
                <img alt="Aibek" src="/assets/images/team/Aibek.png"/>
              </div>
            </div>

            <div class="section-right author-info">
              <div class="secondary-title">About the Author</div>
              <div>
                iBek Esengulov is a co-founder and lead blockchain engineer at Horizontal Systems. He specializes in
                developing decentralized services built on Bitcoin, Ethereum and EOS blockchains that go beyond the
                standard cryptocurrency transfer features.
                <br><br>
                Inspired by emerging notions such as programmable money, decentralized systems, and unstoppable code, he
                co-founded Horizontal Systems in early 2018. The company is entirely self-funded with a team of 15
                senior engineers. Driven by libertarian ideas. Horizontal Systems team builds a new breed of
                applications which are peer-to-peer and not reliant on any external entity to operate.
                <br><br>
                Prior to Horizontal Systems, he was the CEO of Grouvi Ltd., a B2B software development company where he
                led his team in building messenger apps for corporations.
                <br><br>
                Back in 2007, right out of college, he launched MakeUseOf Ltd. (makeuseof.com) which, in 10 years became
                the leading consumer tech journal with over 50 professional writers. MakeUseOf serves over 15 million
                readers every month.
                <br><br>
                When not working, he spends his time educating people on Bitcoin and public blockchains.
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
