@import "../scss/utils";

.Footer {
  height: 80px;
}

.footer-block {
  display: flex;
  padding-top: 50px;
  padding-bottom: 70px;
  justify-content: space-around;

  .bottom-menu {
    display: flex;
    padding: 10px 0;
    color: $gray-light;
    font-size: 14px;
    line-height: 17px;
  }

  .bottom-menu-title {
    color: $gray-light;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
  }

  img {
    padding-right: 10px;
  }

  @include sm {
    flex-wrap: wrap;
    //flex-direction: column;

    .footer-menu {
      //padding-left: 20%;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}
