@import "../../scss/utils";

.Banner {
  display: flex;

  @include sm {
    flex-direction: column-reverse;
  }
}

.Banner-start {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10%;

  @include sm {
    padding-top: 0;
  }
}

.Banner-end {
  flex: 2;
  display: flex;
  justify-content: flex-end;

  @include sm {
    flex: 1;
  }
}

.Banner-text {
  font-size: 64px;
  line-height: 70px;
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;

  @include sm {
    font-size: 38px;
    line-height: 49px;
  }
}

.Banner-text--light {
  color: $white;
}

.Banner-action {
  padding: 32px 0;
}

.Banner-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
