@import "../../scss/utils";

.Banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}

.Slogan {
  font-size: 64px;
  line-height: 70px;

  color: $light;

  @include sm {
    font-size: 38px;
    line-height: 49px;
  }
}

.Mission {
  position: absolute;
  bottom: 80px;
  color: $remus;
  font-size: 22px;

  @include sm {
    font-size: 24px;
    line-height: 31px;
  }
}

.Page-down {
  cursor: pointer;
  position: absolute;
  right: 70px;
  bottom: 70px;

  @include sm {
    display: none;
  }
}
