@import "../../scss/utils";

.Banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}

.Banner-title {
  font-size: 64px;
  line-height: 70px;
  color: $light;

  @include sm {
    font-size: 38px;
    line-height: 49px;
    margin-bottom: 30px;
  }
}

.Banner-desc {
  position: absolute;
  bottom: 80px;
  width: 73vw;
  color: $remus;
  font-size: 22px;

  @include sm {
    font-size: 24px;
    line-height: 31px;
    bottom: 60px;
  }
}

.Page-down {
  cursor: pointer;
  position: absolute;
  bottom: 70px;
  right: 0;

  @include sm {
    display: none;
  }
}
